@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* *{
    margin: 0;
    padding: 0;
} */

body{
    background-color: rgb(21, 22, 80);
    overflow: hidden;
}

#level-title{
    color: white;
    margin: 4%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    display: inline-block;
    width: 180px;
    height: 180px;
    border: 10px black solid;
    border-radius: 50px;
    margin: 25px;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
/* This is for js use. */
.press{          
    background-color: gray;
    box-shadow: 0 0 25px white;
}
.wrong{
    background-color: rgb(175, 49, 49);
    opacity: 0.5;
}